body {
  margin: 0 auto;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.wrapper {
  min-width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1330px;
  margin: 0 auto;
}

/*HEADER*/
header {
  margin: 0;
  padding: 0;
  background-image: url("../images/HeaderBackground.jpg");
  background-color: #303030;
  background-size: cover;
  background-position-x: center;
  min-height: 746px;
}
header .HeaderTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .HeaderTop .HeaderTop_Logo {
  margin-top: 40px;
  margin-left: 60px;
}
header .HeaderTop ul {
  align-items: center;
  margin-top: 54px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .HeaderTop ul li {
  list-style: none;
}
header .HeaderTop ul li a {
  color: #ffff;
  font-size: 20px;
  font-family: "Montserrat";
  margin: 0;
  margin-right: 60px;
  transition: 0.5s;
}
header .HeaderTop ul li a:hover {
  color: #ffff;
  font-size: 20.5px;
  font-family: "Montserrat";
  margin-right: 59.5px;
}
header .HeaderTop ul #input {
  display: none;
  background-color: #303030;
  height: 24px;
  border-radius: 10px;
  margin-right: 20px;
}
header .HeaderTop ul .SearchButton {
  cursor: pointer;
  margin-right: 58px;
  transition: 0.8s;
}
header .HeaderTop ul .SearchButton:hover {
  transform: rotate(360deg);
}
header .HeaderTop ul #Burger{
  display: none;
}
header .HeaderBottom {
  margin-top: 100px;
  display: flex;
  justify-content: end;
  margin-right: 220px;
}
header .HeaderBottom div h1 {
  color: #ffc200;
  font-size: 100px;
  font-family: "Grand Hotel";
  font-weight: 100;
}
header .HeaderBottom div h3 {
  color: #ffff;
  font-size: 24px;
  font-family: "Montserrat";
  line-height: 1.2;
  text-align: left;
  margin-bottom: 45px;
  font-weight: 400;
}
header .HeaderBottom div a {
  color: #333333;
  font-size: 16px;
  font-family: "Montserrat";
  background-color: #ffc200;
  font-weight: 700;
  padding: 14px;
  padding-left: 46px;
  padding-right: 46px;
  border-radius: 5px;
  transition: 0.3s;
}
header .HeaderBottom div a:hover {
  box-shadow: 5px 5px 5px black;
}
.PhoneMenu{
  left: -100%;
  top: 0px;
  height: 140%;
  position: fixed;
  background: #333333e5;
  backdrop-filter: blur(11px);
  width: 100%;
  transition: left 0.3s ease 0s;
}
.PhoneMenu nav{
  display: flex;
  justify-content: space-between;
}
.PhoneMenu nav img{
  margin: 50px;
  height: 50px;
}
.PhoneMenu nav ul{
  margin-top: 50px;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.PhoneMenu nav ul li{
  list-style: none;
  margin-top: 40px;
}
.PhoneMenu nav ul li a{
  text-decoration: underline;
  font-weight: 800;
  font-size: 30px;
  color: white;
}
.PhoneMenu nav .HeaderTop_Logo img{
  margin: 0;
  margin-bottom: 20px;
}

/*HEADER*/





@media (min-width: 1670px){
    .container{
      max-width: 1800px;
    }
    header .HeaderBottom{
      margin-right: 320px;
    }
    header .HeaderTop ul li a{
      margin-right: 70px;
      font-size: 30px;
    }
    header .HeaderTop ul li a:hover{
      font-size: 30.5px;
      margin-right: 69.5px;
    }
    header .HeaderTop ul .SearchButton{
      height: 40px;
    }
    header .HeaderBottom div h1{
      font-size: 140px;
    }
    header .HeaderBottom div h3{
      font-size: 31px;
      margin-bottom: 65px;
    }
    header .HeaderBottom div a{
      font-size: 27px;
    }
}
@media (max-width: 1280px){
    header .HeaderBottom{
      margin-right: 120px;
    }
    header .HeaderTop ul{
      justify-content: end;
      max-width: 700px;
      flex-wrap: wrap;
    }
    header .HeaderTop ul li a{
      margin-right: 50px;
    }
    header .HeaderTop ul #input{
      position: absolute;
      top: 110px;
      right: 60px;
    }
}
@media (max-width: 1200px){
    header .HeaderBottom{
      margin-right: 95px;
    }
}
@media (max-width: 1024px){
    header .HeaderBottom{
      margin-right: 24px;
    }
}
@media (max-width: 960px){
    header .HeaderBottom{
      margin-right: 50px;
    }
    header .HeaderTop ul li a{
      margin-right: 40px;
    }
    header .HeaderTop .HeaderTop_Logo img{
      height: 37px;
    }
}
@media (max-width: 870px){
    header .HeaderBottom{
      margin-right: 24px;
    }
    header .HeaderTop ul{
      max-width: 580px;
    }
    header .HeaderTop ul .SearchButton{
      position: absolute;
      top: 110px;
      right: 20px;
    }
}
@media (max-width: 800px){
  header .HeaderTop .HeaderTop_Logo img{
    margin-top: 8px;
  }
  header .HeaderBottom{
    text-align: center;
  }
  header .HeaderTop ul li a{
    margin-right: 35px;
  }
  header .HeaderBottom div h3{
    text-align: center;
    font-size: 22px;
    margin-bottom: 45px;
  }
  header .HeaderBottom div a{
    font-size: 21px;
  }
  
}
@media (max-width: 768px){
  .container{
    max-width: 650px;
  }
  header .HeaderTop .HeaderTop_Logo{
    margin-left: 0;
  }
  header .HeaderTop ul .SearchButton{
    display: none;
  }
  header .HeaderTop ul li{
    display: none;
  }
  header .HeaderTop ul #Burger{
    display: flex;
    height: 40px;
  }
  header .HeaderBottom{
    margin-right: 0px;
  }
  header .HeaderBottom div h3{
    font-size: 19px;
  }
}
@media (max-width: 680px){
  .container{
    max-width: 500px;
  }
  .HeaderBottom__Span{
    display: none;
  }
  header .HeaderBottom{
    margin-top: 120px;
  }
  header .HeaderBottom div h3{
    margin-right: 0px;
    width: 320px;
    font-size: 24px;
  }
  header .HeaderTop{
    padding-top: 20px;
  }
}
@media (max-width: 540px){
  .container{
    max-width: 420px;
  }
  header .HeaderBottom div h1{
    font-size: 80px;
  }
  header .HeaderBottom div h3{
    width: 280px;
  }
}
@media (max-width: 480px){
  header{
    background-position-x: right;
  }
  .container{
    max-width: 350px;
  }
  .PhoneMenu nav img{
    height: 40px;
  }
  header .HeaderTop ul #Burger{
    height: 40px;
  }
  header .PhoneMenu nav .HeaderTop_Logo img{
    height: 50px;
  }
  header .HeaderBottom{
    justify-content: center;
  }
  header .HeaderBottom div h1{
    background-color: #303030;
    font-size: 100px;
  }
  header .HeaderBottom div h3{
    font-size: 24px;
    width: 340px;
  }
  header .PhoneMenu nav ul{
    margin-left: 30px;
  }
  header .PhoneMenu nav ul li a{
    font-size: 27px;
  }

}
@media (max-width: 375px){
  .container{
    max-width: 300px;
  }
  header .HeaderBottom div h1{
    font-size: 90px;
  }
  header .HeaderBottom div h3{
    width: 300px;
  }
  header .PhoneMenu nav .HeaderTop_Logo img{
    height: 40px;
  }
  header .PhoneMenu nav ul li a{
    font-size: 20px;
  }
}
@media (max-width: 320px){
  .container{
    max-width: 280px;
  }
  header .HeaderBottom div h1{
    font-size: 80px;
  }
  header .HeaderBottom div h3{
    width: 250px;
  }
}